@model IEnumerable<Champion>

@{
    ViewData["Title"] = "Home Page";
}

@*@foreach (Champion c in Model)
{
    <li>@c.Name, @c.Description, @c.Gold, @c.Origin.First().OriginId.ToString(), @c.Class.First().ClassId.ToString()</li>
}*@